body
    h1Welcome to example.com, %= @user.name %/h1
    p
      You have successfully signed up to example.com,
      your username is: %= @user.login %.br

    p
      To login to the site, just follow this link: %= @url %.

    pThanks for joining and have a great day!/p

