---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAINPXCPEI35TF3FPQ&AssociateTag=wdk&Keywords=B011SLDC6I&Operation=ItemSearch&SearchIndex=All&Service=AWSECommerceService&Signature=HGYaPH2jGHusBMsSRw4ex5imdT8UM7mlfOO876t%2BdfQ=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-05-08T14:24:38Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><ItemSearchResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2013-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.5.1 (Language=Ruby; Steves-MacBook-Pro-3.local)"></Header></HTTPHeaders><RequestId>083abe1b-bb1c-4d46-a84b-5dee4ec59dfe</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAINPXCPEI35TF3FPQ"></Argument><Argument Name="AssociateTag"
        Value="wdk"></Argument><Argument Name="Keywords" Value="B011SLDC6I"></Argument><Argument
        Name="Operation" Value="ItemSearch"></Argument><Argument Name="SearchIndex"
        Value="All"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument><Argument
        Name="SignatureMethod" Value="HmacSHA256"></Argument><Argument Name="SignatureVersion"
        Value="2"></Argument><Argument Name="Timestamp" Value="2016-05-08T14:24:38Z"></Argument><Argument
        Name="Version" Value="2013-08-01"></Argument><Argument Name="Signature" Value="HGYaPH2jGHusBMsSRw4ex5imdT8UM7mlfOO876t+dfQ="></Argument></Arguments><RequestProcessingTime>0.0365976950000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemSearchRequest><Keywords>B011SLDC6I</Keywords><ResponseGroup>Small</ResponseGroup><SearchIndex>All</SearchIndex></ItemSearchRequest></Request><TotalResults>4</TotalResults><TotalPages>1</TotalPages><MoreSearchResultsUrl>http://www.amazon.com/gp/redirect.html?linkCode=xm2&amp;SubscriptionId=AKIAINPXCPEI35TF3FPQ&amp;location=http%3A%2F%2Fwww.amazon.com%2Fgp%2Fsearch%3Fkeywords%3DB011SLDC6I%26url%3Dsearch-alias%253Daws-amazon-aps&amp;tag=wdk&amp;creative=386001&amp;camp=2025</MoreSearchResultsUrl><Item><ASIN>B011SLDC6I</ASIN><ParentASIN>B019ELIJXA</ParentASIN><DetailPageURL>http://www.amazon.com/Apple-iPod-Touch-Space-Generation/dp/B011SLDC6I%3Fpsc%3D1%26SubscriptionId%3DAKIAINPXCPEI35TF3FPQ%26tag%3Dwdk%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB011SLDC6I</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>http://www.amazon.com/Apple-iPod-Touch-Space-Generation/dp/tech-data/B011SLDC6I%3FSubscriptionId%3DAKIAINPXCPEI35TF3FPQ%26tag%3Dwdk%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB011SLDC6I</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3DB011SLDC6I%26SubscriptionId%3DAKIAINPXCPEI35TF3FPQ%26tag%3Dwdk%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB011SLDC[...]
