h1 Welcome to Wediko's gift registration!,
p You have successfully signed up, #{ @user.name }
p please use #{ @user.email } to login with your password at #{ @url }

p Thanks for joining and have a great day

