  h1 Welcome to Wediko's secret snowman!,
    p You have successfully signed up to example.com, #{ @user.name }
    p your username is: #{ @user.email }.

    p Thanks for joining and have a great day

