h1 Welcome to Wediko's gift exchange program!
p Your account has been successfully created, #{ @user.name }
p You may log in with the email address #{ @user.email } at #{ @url }.
p Thank you for signing up!
