  h1 Your gift has shipped!/h1
    p The SHIPPING SERVICE has sent us confirmation that your gift is heading on its way to one of the youth in our program right now.

    p Thanks for helping and have a great day!

