body
    h1Thank you for your generosity, %= @user.name %/h1
    p
      Wediko"s secret snowman has always relied on your kindness,
      and we"re glad that your continued support is bringing
      brightness to our family.

    p
      Your gift should be delivered in x days

    pThank you with all our heart and have a great day!/p

