h1 Your assisstance is needed!
p We have valued your help over the years, and now we need to ask for your help again. With a donation of $$$ you can help us continue ouroperations for this year, or you can reserve a gift to be boughtfor one of the youth in our program.

p Every little bit counts, and your help is instrumental to our success.

p Thanks for helping and have a great day!

