h1 We've logged your purchase.
p Our records now indicate that you have shipped your gift to Wediko to be delivered to its recipient.
p Thanks for your support and have a great day!

p Gift name: #{ @reservation.gift_request.name }
