h1 Thank you for setting up a wishlist!
p Please go through the gifts requested from our secret snowmen and reserve the items you would like to donate.

p As always, your support is central to our efforts to continue our mission.

p Thanks for joining and have a great day!

