@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,800);

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-left: auto;
  padding-right: auto;
  padding-top: 8.5em;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  background: #2e84ae url(image_path('bg-blue.jpg'));
}

.wishlist-page {
  color: #3e3e3e;
  margin: 0 10%;
  padding: 5em;
  background: #fdf6ef url(image_path('bg-cream.jpg'));
}

.wishlist-header {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 800;
  color: #e9cc7f;
  margin: 0 10%;
  padding: 0.5em 0;
  text-align: center;
  font-size: 2em;
  &:before, &:after {
    height: 1px;
    background: #78acc2;
    width: 35%;
    display: block;
    position: relative;
    top: .65em;
  }
  &:before {
    float: left;
  }
  &:after {
    float: right;
  }
}

.wishlist-table {
  border: 1px solid #6a6a6a;
  margin: 1.5em auto 2em;
  background: #eee;
  a {
    color: inherit;
  }
  .request-edit {
    font-weight: bold;
  }
  .request-checkbox {
    border-radius: 0;
  }
  tbody td, thead th {
    border-color: #6a6a6a;
  }
  thead th, tbody td, .request-recipient, .request-status, .request-age, .request-gender {
    text-align: center;
  }
  tbody tr {
    &:hover {
      transition: all 400ms ease;
      color: #FFF;
      background-color: #3a87a8;
    }
  }
}

.wishlist-remove {
  position: relative;
  input {
    font-weight: bold;
    background: #ff531a;
    float: right;
    border-radius: 0;
  }
  input:hover {
    transition: all 400ms ease;
    border: 1px solid #6a6a6a;
    color: #FFF;
    background: #3a87a8;
  }
}

.wishlist-add {
  input {
    font-weight: bold;
    background: #e6e5e5;
    border: 1px solid #6a6a6a;
    border-radius: 0;
  }
  input:hover {
    transition: all 400ms ease;
    color: #FFF;
    background: #3a87a8;
  }
}

.wediko-back {
  float: left;
  margin: 10px;
  margin-left: 1.5em;

  a {
    color: #e9cc7f;
    text-decoration: none;
    &:hover {
      color: #d9534f;
    }
  }
}

.footer-pad {
  padding-bottom: 11.5em;
}

.form-btn {
  display: inline-block;
}

.btn {
  margin: 5px;
}

.btn-success {
  background-color: #6c9c58;
}

.btn-primary {
  background-color: #2e84ae
}

.btn {
  border-radius: 0;
  &:hover {
    transition: all 400ms ease;
    background-color: #2e84ae;
    color: #fff;
    text-decoration: none;
  }
}

.alert {
  width: 25%;
  min-width: 250px;
  max-width: 95%;
  margin: 0 auto;
  text-align: center;
}

.instructions {
  margin-bottom: 2em;
}
