.block {
  background-color: #eee;
  color: #333;
  padding: 2em;
  margin: 5px;
  display: inline-block;
  text-align: center;
  width: 20%;
  height: 220px;
  overflow: hidden;
  border-radius: 5px;
  transition: background-color 0.5s;
  border: 1px solid #000;

  .event-title {
    font-weight: bolder;
  }

  &:hover {
    background-color: #2e84ae;
    color: #fff;
    text-decoration: none;
  }
}
.event-list {
  overflow: auto;
  text-align: center;
}
