.form-header {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 800;
  color: #e9cc7f;
  margin: 0 25%;
  padding: 1em 0;
  text-align: center;
  font-size: 2em;
}

.form-page {
  color: #3e3e3e;
  padding: 5em;
  background: #fdf6ef url(image_path('bg-cream.jpg'));
}

.form-page-header {
  margin-bottom: 1em;
}

.form-description {
  padding-bottom: 1em;
  color: #eee;
  max-width: 720px;
}