.filter-box {
  background-color: #eee;
  margin: 5px;
  border: 1px solid #000;
  padding: 1em;
}
.filter-block {
  display: inline-block;
  margin: 10px 20px;
  input {
    margin: 10px;
  }

  .age-field {
    width: 5em;
  }
}
