.navbar {
  font-size: 1.25em;
  padding: 0.5em 1.5em 0;
  font-weight: bold;
  background: #fdf6ef url(image_path('bg-cream.jpg'));
  -webkit-box-shadow: 0 5px 5px -5px #8F8A7F;
  -moz-box-shadow: 0 5px 5px -5px #8F8A7F;
  box-shadow: 0 5px 5px -5px #8F8A7F;
  .navbar-brand {
    font-weight: 800;
    background-image: url(image_path('logo.png'));
    background-repeat: no-repeat;
    height: 90px;
    width: 150px;
    background-size: 150px;
  }
  .navbar-nav {
    margin-top: 1em;
    padding-left: 1em;
    position: relative;
    li {
      padding-right: 2em;
    }
  }
  .navbar-login {
    margin-top: 1em;
    position: relative;
    float: right;
    a, input {
      font-size: 1em;
      font-weight: bold;
      color: #FFF;
      border-radius: 0;
      &:hover {
        color: #FFF;
        background: #ff4000;
      }
    }
    a:hover, input:hover {
      transition: all 400ms ease;
      border: 1px solid #6a6a6a;
      color: #FFF;
      background: #3a87a8;
    }
  }
}
