h1 Your reservation has not been ordered!
p= "#{@donor.name},"
p You currently have reservations to buy #{ "#{@delinquencies} #{'gift'.pluralize(@delinquencies)}" }, but our records show they have not yet been ordered.

p The deadline for these gifts (when Wediko expects to receive them) is in less than a week. If your plans have changed and you can no longer purchase these gifts, please cancel your reservations for these gifts so that they are available for purchase by others.

p Thank you for supporting Wediko's gift exchanges!
